.board {
    background-image: url("board.png");
    width: 1019px;
    height: 768px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.playerIcon {
    position: absolute;
    width: 30px;
    height: 34px;
    margin-left: 72px;
    margin-bottom: 51px;
    transition: .3s linear;
}

.playerIcon.leftAligned {
    margin-left: 52px;
}

.playerIcon.rightAligned {
    margin-left: 86px;
}

.boardWrapper {
    position: relative;
    width: 1019px;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
}

.finishedText {
    position: absolute;
    top: 47%;
    left: 37%;
    font-size: 20px;
    font-weight: bold;
    width: 26%;
    height: 6%;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    border: 1px solid black;
    border-radius: 40px;
}

.finishedText.winnerText {
    color: greenyellow;
    background-color: cornflowerblue;
}

.finishedText.loserText {
    color: red;
    background-color: darkblue;
}

.startGame {
    position: absolute;
    top: 47%;
    left: 37%;
    width: 26%;
    height: 6%;
}

.startGame div {
    width: 100%;
}